{% extends "_layout.html" %}
{% block content %}
<div class="vertical-space-flex">
{% with party = (slug | replace("~", "%") | replace("+", " ") | urldecode )%}
<h1>{{party}}</h1>
<p>Running {% with count = sql("select count(*) as count from candidates where party = :party", {"party": party}, database="election-2024") %}{{count[0]["count"]}}{% endwith %} candidates

{% with candidates = sql("select * from candidates left join candidate_details on candidates.name = candidate_details.name and candidates.party = candidate_details.party where candidates.party = :party", {"party": party}, database="election-2024")%}
{% include("includes/candidate-cards.html") %}
{% endwith %}

{% with party_constituencies = sql("select constituency from candidates where candidates.party = :party group by constituency order by constituency asc", {"party": party}, database="election-2024") %}
<h2>Contesting {% if party_constituencies | length == 43 %}all{% else %}{{party_constituencies | length}}{% endif %} Constituencies</h2>
<ul>
{% for constituency in party_constituencies %}
<li><a href="/constituencies/{{constituency.constituency | urlencode}}">{{constituency.constituency}}</a></li>
{% endfor%}
</ul>
{% endwith %}
{% with uncontested = sql("select constituency from parties_uncontested_constituencies where party = :party order by constituency asc", {"party": party}, database="election-2024") %}
{% if uncontested | length > 0 and uncontested | length < 15 %}
<p>{{party}} is leaving {{uncontested | length}} constituencies uncontested</p>
<ul>
{% for constituency in uncontested %}
<li><a href="/constituencies/{{constituency.constituency | urlencode}}">{{constituency.constituency}}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endwith %}
</div>
{% endblock %}