{% extends '_layout.html' %}
{% block content %}
{% with constituency = ( slug | replace('~','%') | urldecode | replace('+', ' ') ) %}
<div class="vertical-space-flex">
<h1>{{ constituency }}</h1>
{% with constituency_record = sql('select * from constituencies where constituency = :constituency', {"constituency": constituency}, database="election-2024")[0]%}
<h2 class="muted">{{constituency_record.seat_count}} seats</h2>
{% endwith %}

{% with candidates = sql('select * from candidates join candidate_details on candidates.name = candidate_details.name and candidates.party = candidate_details.party where constituency=:constituency', {"constituency":constituency}, database="election-2024") %}
{% include("../../includes/candidate-cards.html") %}
</div>
{% endwith %}
{% endwith %}
{% endblock %}